.product-card {
    background-color: rgba(91, 111, 211, 0.785);
    border-radius: 10px;
    width: 340px;
    padding: 16px;
}

.add-cart-btn {
    background-color: tomato;
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    margin-right: 5px;
}
.remove-cart-btn {
    background-color: tomato;
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    margin-left: 5px;
}